# The many WOWs of Owen Wilson
Owen Wilson inspired many internet memes and soundboards with his Wow. But does he really say it that often? 

Let's take a look.

![GIF of Owen Wilson saying wow](https://tenor.com/bTlrG.gif)

## Import dependencies

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import requests
import json

## ETL
The credits for this data goes to [Amamenko](https://github.com/amamenko/owen-wilson-wow-api) on Github and their [Owen Wilson WOW API](https://github.com/amamenko/owen-wilson-wow-api). I used their API to call a JSON of all the WOW instances, and then transformed it into a Pandas PivotTable as follows.

Make a GET Request from the Owen Wilson Wow API as JSON:

In [2]:
url = "https://owen-wilson-wow-api.herokuapp.com/wows/random"
headers = {"Accept": "application/json"}
response = requests.get(url, headers=headers, params={'results': 200, 'direction': 'asc', 'sort': 'release_date' })
data = response.json()

Store the JSON as a Pandas DataFrame:

In [3]:
df = pd.DataFrame(data)
df.head()

,movie,year,release_date,director,character,movie_duration,timestamp,full_line,current_wow_in_movie,total_wows_in_movie,poster,video,audio
0,Bottle Rocket,1996,1996-02-21,Wes Anderson,Dignan,01:31:44,01:04:45,"Wow. Wow. Okay, no more fighting.",2,3,https://images.ctfassets.net/bs8ntwkklfua/4EY9...,{'1080p': 'https://videos.ctfassets.net/bs8ntw...,https://assets.ctfassets.net/bs8ntwkklfua/7GFD...
1,Bottle Rocket,1996,1996-02-21,Wes Anderson,Dignan,01:31:44,01:04:44,"Wow. Wow. Okay, no more fighting.",1,3,https://images.ctfassets.net/bs8ntwkklfua/4EY9...,{'1080p': 'https://videos.ctfassets.net/bs8ntw...,https://assets.ctfassets.net/bs8ntwkklfua/4vqX...
2,Bottle Rocket,1996,1996-02-21,Wes Anderson,Dignan,01:31:44,01:08:25,"Oh wow, that's one of your little drawings.",3,3,https://images.ctfassets.net/bs8ntwkklfua/4EY9...,{'1080p': 'https://videos.ctfassets.net/bs8ntw...,https://assets.ctfassets.net/bs8ntwkklfua/5xUO...
3,The Haunting,1999,1999-07-23,Jan de Bont,Luke Sanderson,01:52:37,00:23:30,"Wow, you're so dominant.",2,5,https://images.ctfassets.net/bs8ntwkklfua/6Zu7...,{'1080p': 'https://videos.ctfassets.net/bs8ntw...,https://assets.ctfassets.net/bs8ntwkklfua/4ced...
4,The Haunting,1999,1999-07-23,Jan de Bont,Luke Sanderson,01:52:37,00:41:34,"Wow, I sorta got screwed on the ol' bedroom se...",4,5,https://images.ctfassets.net/bs8ntwkklfua/6Zu7...,{'1080p': 'https://videos.ctfassets.net/bs8ntw...,https://assets.ctfassets.net/bs8ntwkklfua/3yvd...

Drop columns not required anymore:

In [4]:
df.drop(['poster','video','audio','full_line','current_wow_in_movie','timestamp'], axis=1, inplace=True)

Inspect dataframe information:

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 91 entries, 0 to 90
Data columns (total 7 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   movie                91 non-null     object
 1   year                 91 non-null     int64
 2   release_date         91 non-null     object
 3   director             91 non-null     object
 4   character            91 non-null     object
 5   movie_duration       91 non-null     object
 6   total_wows_in_movie  91 non-null     int64
dtypes: int64(2), object(5)
memory usage: 5.1+ KB

In [6]:
df.describe(include='all')

,movie,year,release_date,director,character,movie_duration,total_wows_in_movie
count,91,91.000000,91,91,91,91,91.000000
unique,29,NaN,29,23,26,28,NaN
top,Cars 3,NaN,2017-05-23,Brian Fee,Lighting McQueen,01:42:25,NaN
freq,10,NaN,10,10,10,10,NaN
mean,NaN,2008.428571,NaN,NaN,NaN,NaN,5.021978
std,NaN,5.731284,NaN,NaN,NaN,NaN,3.040387
min,NaN,1996.000000,NaN,NaN,NaN,NaN,1.000000
25%,NaN,2004.500000,NaN,NaN,NaN,NaN,3.000000
50%,NaN,2010.000000,NaN,NaN,NaN,NaN,5.000000
75%,NaN,2013.000000,NaN,NaN,NaN,NaN,6.000000
max,NaN,2017.000000,NaN,NaN,NaN,NaN,10.000000

Release date is not recognized as a datetime object. Fix it:

In [7]:
df['release_date']= pd.to_datetime(df['release_date'])

Generate a pivot table indexing on Movie, sorting by release date:

In [8]:
table = pd.pivot_table(df, index=['movie'],
                    aggfunc=np.max).sort_values(by=['release_date'],ascending=True)

In [9]:
table.head()

,character,director,movie_duration,release_date,total_wows_in_movie,year
movie,,,,,,
Bottle Rocket,Dignan,Wes Anderson,01:31:44,1996-02-21,3,1996
The Haunting,Luke Sanderson,Jan de Bont,01:52:37,1999-07-23,5,1999
Breakfast of Champions,Monte Rapid,Alan Rudolph,01:49:49,1999-09-17,1,1999
Shanghai Noon,Roy O'Bannon,Tom Dey,01:50:18,2000-05-23,1,2000
Meet the Parents,Kevin Rawley,Jay Roach,01:47:39,2000-10-06,2,2000

Check properties:

In [10]:
type(table)

pandas.core.frame.DataFrame

In [11]:
table.info()

<class 'pandas.core.frame.DataFrame'>
Index: 29 entries, Bottle Rocket to Father Figures
Data columns (total 6 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   character            29 non-null     object
 1   director             29 non-null     object
 2   movie_duration       29 non-null     object
 3   release_date         29 non-null     datetime64[ns]
 4   total_wows_in_movie  29 non-null     int64
 5   year                 29 non-null     int64
dtypes: datetime64[ns](1), int64(2), object(3)
memory usage: 1.6+ KB

Export data as CSV:

In [12]:
table.to_csv('Owen_Wilson_Wows.csv')